section {
  background: #f3f5f7;
}

form {
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

@media screen and (min-width: 1200px) {
  form {
    width: 450px;
    margin: 0 auto;
  }
}
