<section class="container">
  <h1>Lançamentos</h1>

  <section class="grid">
    <div class="col-12 lg:col-4">
      <input class="w-full" type="text" placeholder="Buscar lançamento" pInputText [formControl]="searchTerm" />
    </div>
    <div class="col-12 lg:col-5">
      <div class="flex flex-column md:flex-row align-items-center">
        <p-calendar class="w-full" [(ngModel)]="dateStart" [showIcon]="true" placeholder="Data inicial"></p-calendar>
        <label class="mx-2 font-semibold">Até</label>
        <p-calendar class="w-full"[(ngModel)]="dateEnd" [showIcon]="true" placeholder="Data final"></p-calendar>
      </div>
    </div>
    <div class="flex-1 p-2">
      <button class="w-full" pButton type="submit" label="Filtrar" pTooltip="Filtrar por data" tooltipPosition="top"></button>
    </div>
    <div class="flex-1 p-2" *ngIf="ROLE_LANCAMENTO_CADASTRAR">
      <button class="w-full btn-success" pButton type="submit" label="Novo" pTooltip="Novo lançamento" tooltipPosition="top"></button>
    </div>
  </section>

  <ng-template #loading>
    <div class="flex flex-column align-items-center">
      <p class="mt-4">Carregando dados</p>
      <div class="loading-container">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div> 
  </ng-template>

  <p-table 
    *ngIf="!isLoading && (lancamentos$ | async) as lancamentos; else loading"
    [value]="lancamentos"
    [paginator]="true"
    [rows]="7"
    responsiveLayout="stack"
    [breakpoint]="'960px'"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>Categoria</th>
        <th>Vencimento</th>
        <th>Valor</th>
        <th style="width: 8rem">Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-lancamento>
      <tr>
        <td>
          <span class="p-column-title font-semibold">Nome</span>
          {{ lancamento.descricao }}
        </td>
        <td>
          <span class="p-column-title">Categoria</span>
          {{ lancamento.categoria.nome }}
        </td>
        <td>
          <span class="p-column-title">Vencimento</span>
          {{ lancamento.dataVencimento | date: 'dd/MM/yyyy' }}
        </td>
        <td>
          <span class="p-column-title">Valor</span>
          <span [style.color]="lancamento.tipo === 'DESPESA' ? '#d45472' : '#5472d4'">{{ lancamento.valor | currency: 'BRL' }}</span>
        </td>
        <td>
          <span class="p-column-title">Ações</span>
          <div class="flex">
            <button *ngIf="ROLE_LANCAMENTO_REMOVER" class="p-button-danger p-button-text" type="button" pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></button>
            <button *ngIf="ROLE_LANCAMENTO_CADASTRAR" class="mx-2 p-button-text" type="button" pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></button>
            <button class="p-button-text" type="button" pButton icon="pi pi-eye" pTooltip="Consultar" tooltipPosition="top"></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</section>