<section class="container">
  <h1>
    Pessoas
  </h1>

  <section class="grid">
    <div class="col-12 sm:col-8 md:col-9 lg:col-10">
      <input class="w-full" type="text" placeholder="Buscar pessoa" pInputText [(ngModel)]="value" />
    </div>
    <div class="col-12 sm:col-4 md:col-3 lg:col-2">
      <button class="w-full btn-success" pButton type="submit" label="Novo" pTooltip="Nova pessoa" tooltipPosition="top"></button>
    </div>
  </section>

  <p-table
    [value]="products"
    responsiveLayout="stack"
    [tableStyle]="{ 'overflow': 'auto' }"
    [paginator]="true"
    [rows]="7"
  >
    <ng-template pTemplate="header">
        <tr>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Quantidade</th>
            <th>Valor</th>
            <th style="width: 5rem">
              Ações
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.quantity }}</td>
            <td [style.color]="product.inventoryStatus === 'DESPESA' ? '#d45472' : '#5472d4'">{{ product.price | currency: 'BRL' }}</td>
            <td class="flex">
              <button class="mr-3 p-button-text" type="button" pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></button>
              <button class="p-button-danger p-button-text" type="button" pButton icon="pi pi-trash" pTooltip="Excluír" tooltipPosition="top"></button>
            </td>
        </tr>
    </ng-template>
  </p-table>
